// Loadout
@import 'partials/reset';
@import 'partials/variables';
@import 'partials/mixins';
@import 'partials/type';
@import 'partials/nav';
@import 'partials/home';
@import 'partials/hero';
@import 'partials/roster';
@import 'partials/contact';
@import 'partials/footer';

// Umbrella Styles

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.center {
    justify-content: center;
    align-items: center;
}