<section class="intro flex">
    <div class="flex about">
        <div class="headline">
            <p>Inclusion.</p>
            <p>Collaboration.</p>
            <p>Empowerment.</p>
        </div>
        <div class="description">
            <p>The Spinsters Union of Louisville is a collective of female and gender non-conforming DJs, producers, and industry professionals based in Louisville, Kentucky. Established in 2018, the Spinsters Union has grown to 14 members dedicated to expanding awareness and opportunities for underrepresented talent. </p>
            <!-- <a class="cta" href="/roster">Roster</a>
            <a class="cta" href="/contact">Contact</a> -->
        </div>
    </div>
</section>

