<section class="about flex center">
    <p class="headline">Inclusion. Collaboration. Empowerment.</p>
    <p>The Spinsters Union of Louisville is a collective of female and gender non-conforming DJs, producers, and industry professionals based in Louisville, Kentucky. Established in 2018, the Spinsters Union has grown to 14 members dedicated to expanding awareness and opportunities for underrepresented DJ talent. </p>
    <!-- <a href="/roster" target="_blank">
        <button>Our Roster</button>
    </a> -->
</section>

