<div class="about flex center">
    <p class="headline">The Spinsters Union of Louisville is a collective of female and gender non-conforming DJs, producers, and industry professionals based in Louisville, Kentucky. Established in 2018 with the core beliefs of inclusion, collaboration and empowerment, the Spinsters Union has grown to encompass over 20 members dedicated to expanding awareness and opportunities for underrepresented talent. </p>
    <a href="/roster" target="_blank"><button>Our Roster</button></a>
</div>

