    <div class="footer flex center">
        <div class="social flex">
            <a href="https://www.facebook.com/spinstersunion" target="_blank"><div class="icon facebook"><i class="fab fa-facebook"></i></div></a>
            <a href="https://www.instagram.com/spinstersunionoflouisville/" target="_blank"><div class="icon instagram"><i class="fab fa-instagram"></i></div></a>
        </div>
        <p class="copyright">© {{ now.Year }} The Spinsters Union of Louisville</p>
    </div>

    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script> -->

</body>

</html>