
<form id="contact-form" name="contact-form" action="/thanks" netlify-honeypot="honey" method="POST" netlify>

    <div class="form-row">
        <label for="firstname">First Name</label>
        <input type="text" name="firstname">
        
        <label for="lastname">Last Name</label>
        <input type="text" name="lastname">
    </div>

    <div class="form-row">
        <label for="email">Email Address</label>
        <input type="email" name="email">
    </div>

    <div class="form-row">
        <label for="message">Your Message</label>
        <textarea name="message"></textarea>
    </div>

    <div class="form-row">
        <label for="honey">Don't fill this out if you're human</label>
        <input type="text" id="honey" name="honey"/>
    </div>

    <input type="submit">

</form>






<label for="start">Start date:</label>
<input type="date" id="start" name="booking-gate"
       value="2019-07-22"
       min="2019-01-01" max="2030-01-01">
