
<form id="contact-form" class="flex column center" name="contact-form" action="/thanks" netlify-honeypot="honey" method="POST" netlify>

    <div class="form-row">
        <label for="name">Name</label>
        <input type="text" name="name">
    </div>

    <div class="form-row">
        <label for="email">Email Address</label>
        <input type="email" name="email">
    </div>

    <div class="form-row">
        <label for="message">Your Message</label>
        <textarea name="message"></textarea>
    </div>

    <div class="form-row honey">
        <label for="honey">Don't fill this out if you're human</label>
        <input type="text" id="honey" name="honey"/>
    </div>

    <input class="submit" type="submit">

</form>
