<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <title>{{ .Title }}</title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Maven+Pro:400,700|Open+Sans:400,400i" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/main.css" />
    </head>

    <body>

