<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{{ .Title }}</title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Maven+Pro:400,700|Kanit:900|Open+Sans:400,400i|Sigmar+One&display=swap" rel="stylesheet">        
        <link rel="stylesheet" href="https://use.typekit.net/zmc5thc.css">
        
        {{ $style := resources.Get "/css/main.scss" | toCSS }}
        {{ $sheet := $style | minify | fingerprint }}     
        <link type="text/css" rel="stylesheet" href="{{ $sheet.RelPermalink }}" integrity="{{ $sheet.Data.Integrity }}" media="screen"/>

        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">

        <meta name="viewport" content="width=device-width, initial-scale=1">


    </head>
    <body>
