<!-- <div class="hero center">
    <div class="hero-video">
        <video autoplay loop>
            <source src="/video/hero-record-glitch.mp4" type="video/mp4">
        </video>
    </div>
    <div class="hero-text">
        INCLUSION
        <br>
        COLLABORATION
        <br>
        EMPOWERMENT
    </div>
</div> -->

<!-- <div class="content main">
    <div class="canvas-wrapper">
        <div id="p5_loading" class="p5_loading">
            <div class="p5_loading__inner">
                <span></span>
            </div>
        </div>
        <div id="uploading-animation" class="p5_loading">
            <div class="p5_loading__inner">
                <span></span>
            </div>
        </div>
        <canvas id="audiohero"></canvas>
    </div>
</div> -->

<div class="hero">

    <div id="p5_loading" class="p5_loading">
        <div class="p5_loading__inner">
            <span></span>
        </div>
    </div>

    <div id="uploading-animation" class="p5_loading">
        <div class="p5_loading__inner">
            <span></span>
        </div>
    </div>

    <div id="canvas"></div>

    <div class="hero-text"></div>

</div>
