<div class="hero">

    <div id="p5_loading" class="p5_loading">
        <div class="p5_loading__inner">
            <span></span>
        </div>
    </div>

    <div id="uploading-animation" class="p5_loading">
        <div class="p5_loading__inner">
            <span></span>
        </div>
    </div>

    <div id="canvas"></div>

    <div class="hero-text flex center">
        <h2 class="values">
            <span class="word">Inclusion</span>
            <span class="word">Collaboration</span>
            <span class="word">Empowerment</span>
        </h2>
    </div>

</div>
