<div class="wrapper">
        <video autoplay playsinline muted loop preload poster="http://i.imgur.com/xHO6DbC.png">
        <source src="/video/waveform.mp4" />
        </video>
      <!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 285 80" preserveAspectRatio="xMidYMid slice"> -->
    <svg id="hero-mask" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 250 100" preserveAspectRatio="xMidYMid slice">
        <defs>
          <mask id="mask" x="0" y="0" width="100%" height="100%" >
            <rect x="0" y="0" width="100%" height="100%" />
            <!-- <text x="72" y="50">SPIN ON</text> -->
            <text x="80" y="30">
              <tspan dx="-5" dy="10">INCLUSION</tspan>
              <tspan dx="-136" dy="20">COLLABORATION</tspan>
              <tspan dx="-162" dy="20">EMPOWERMENT</tspan>
            </text>
          </mask>
        </defs>
        <rect x="0" y="0" width="100%" height="100%" />
      </svg>
    </div>