.contact {
    width: 100%;
    background: white;
    text-align: center;
}

form {
    margin: 1em;
    border: 2px solid $dark;
    width: 300px;
    padding: 2em;
}

.form-row {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    width: 100%;
    margin: 5px;
    flex: 1;
}

input, textarea {
    background: lightgrey;
    border: none;
    padding: 0;
    // height: 20px;
}

.honey {
    display: none;
}

.submit {
    margin-top: 2em;
}