.hero {
	display: flex;
	// background-color: white;
	align-items: center;
	justify-content: center;
	position: relative;
	width: 100%;
	height:100vh;
	isolation: isolate;
	overflow: hidden;
}

.new-video {
	position: absolute;
	top: 50%; 
	left: 50%;
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	min-width: 100%; 
	min-height: 100%; 
	width: auto; 
	height: auto;
}

.new-logo {
    width: 275px;
    height: 275px;
    border-radius: 50%;
	background-image: url("/img/logo-outline-white.svg");
	// background-blend-mode: overlay;
    background-size: contain;
    z-index: 200;
	// mix-blend-mode: screen;
	@include spin;
}

@include spin-keyframes;

@media screen and (min-width: 768px){
	.new-logo {
		width: 350px;
		height: 350px;
	}
}