svg {
    width: 125px;
    height: 125px;
    // margin: 2em;
}

// ABOUT

.about {
    padding: 4em 0;
    background-color: white;
    flex-direction: column;
}

.headline {
    max-width: 900px;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
}

.about button {
    color: #444;
    font-size: 16px;
    text-transform: uppercase;
    padding: 12px 36px;
    margin: 2em;
    border: 2px solid #444;
    background: white;
    cursor: pointer;
}