svg {
    width: 125px;
    height: 125px;
    // margin: 2em;
}

// ABOUT

.about {
    padding: 7em 2em 4em 3em;
    background-color: white;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    flex-direction: column;
}

.headline {
    max-width: 900px;
    line-height: 1.5;
    text-align: center;
}

.about button {
    color: black;
    font-size: 16px;
    text-transform: uppercase;
    padding: 12px 36px;
    margin-top: 2em;
    background: white;
    cursor: pointer;
    border: 2px solid black;
}

.about button:hover {
    color: black;
    background: gold;
    transition: all 0.2s ease 0s;
}