// RAINBOW GRADIENT

@mixin rainbow {
    background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3);
	background-size: 2000% 2000%;
    -webkit-animation: rainbow 80s ease infinite;
	-z-animation: rainbow 80s ease infinite;
	-o-animation: rainbow 80s ease infinite;
  	animation: rainbow 80s ease infinite;
}

@mixin rainbow-keyframes {
    @-webkit-keyframes rainbow {
        0%{background-position:0% 82%}
        50%{background-position:100% 19%}
        100%{background-position:0% 82%}
    }
    @-moz-keyframes rainbow {
        0%{background-position:0% 82%}
        50%{background-position:100% 19%}
        100%{background-position:0% 82%}
    }
    @-o-keyframes rainbow {
        0%{background-position:0% 82%}
        50%{background-position:100% 19%}
        100%{background-position:0% 82%}
    }
    @keyframes rainbow { 
        0%{background-position:0% 82%}
        50%{background-position:100% 19%}
        100%{background-position:0% 82%}
    }
}

@mixin pinkgold {
    background: linear-gradient(225deg, pink, gold);
    background-size: 300% 300%;
    -webkit-animation: pinkgold 20s ease infinite;
	-z-animation: pinkgold 20s ease infinite;
	-o-animation: pinkgold 20s ease infinite;
  	animation: pinkgold 20s ease infinite;

}

@mixin pinkgold-keyframes {
    @keyframes pinkgold {
        0% {
          background-position: 50% 0%
        }
        50% {
          background-position: 50% 100%
        }
        100%{
          background-position: 50% 0%
        }
      }
}

// SPINNING TO THE RIGHT

@mixin spin {
    animation: spin 30s linear infinite; 
    -webkit-animation: spin 30s linear infinite;
	-z-animation: spin 30s linear infinite;
	-o-animation: spin 30s linear infinite;
}

@mixin spin-keyframes {
    
    @-moz-keyframes spin {
        100% {-moz-transform: rotate(360deg);}
    }
    @-webkit-keyframes spin {
        100% {-webkit-transform: rotate(360deg);}
    }
    @keyframes spin {
        100% {transform:rotate(360deg);}
    }    
}

// HERO TEXT FLIPPEROO

@mixin hero {
	-webkit-animation: hero 60s linear NaNs infinite ;
	animation: hero 60s linear NaNs infinite ;
}

@mixin hero-keyframes {

    @-webkit-keyframes hero {
    0% {
        -webkit-transform: scale(1) rotate3d(-1, 1, 0, 0deg);
        transform: scale(1) rotate3d(-1, 1, 0, 0deg);
    }
    50% {
        -webkit-transform: scale(0.5) rotate3d(-1, 1, 0, 180deg);
        transform: scale(0.5) rotate3d(-1, 1, 0, 180deg);
    }
    100% {
        -webkit-transform: scale(1) rotate3d(-1, 1, 0, 360deg);
        transform: scale(1) rotate3d(-1, 1, 0, 360deg);
    }
    }
    @keyframes hero {
        0% {
            -webkit-transform: scale(1) rotate3d(-1, 1, 0, 0deg);
            transform: scale(1) rotate3d(-1, 1, 0, 0deg);
        }
        50% {
            -webkit-transform: scale(0.5) rotate3d(-1, 1, 0, 180deg);
            transform: scale(0.5) rotate3d(-1, 1, 0, 180deg);
        }
        100% {
            -webkit-transform: scale(1) rotate3d(-1, 1, 0, 360deg);
            transform: scale(1) rotate3d(-1, 1, 0, 360deg);
        }
    }
}

  