.nav-container {
    position: relative;
    width: 100%;
}

nav {
    @include rainbow;
    padding: 1em;
}

@include rainbow-keyframes;

.nav-links {
    justify-content: space-between;
    align-items: center;
    font-size: 16px;

    ul {
        list-style: none;
    }

    li {
        text-transform: uppercase;
        font-weight: 700;
        // margin: 0 1.5em;
        // padding: 1em;
    }

    li a {
        text-decoration: none;
    }
}



.nav-logo {
    width: 200px;
    position: absolute;
    left: 50%;
    margin-left: -100px;
}

.logo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid white;
    background-image: linear-gradient(pink, gold), url("/img/logo.svg");
    background-blend-mode: overlay;
    background-position: center;
    background-size: contain;
    z-index: 200;
    margin-top: 1em;
    @include spin;
}

@include spin-keyframes;