nav {
    position: relative;
    height: 50px;
    @include rainbow;
}

@include rainbow-keyframes;

.nav-links {
    width: 100%;
    justify-content: space-between;
    align-self: center;
    position: absolute;

    ul {
        list-style: none;
    }

    li {
        text-transform: uppercase;
        font-weight: 700;
        margin: 0 1.5em;
    }

    li a {
        text-decoration: none;
        // cursor: pointer;
    }
}

.nav-logo {
    width: 200px;
    position: absolute;
    left: 50%;
    margin-left: -100px;
}

.logo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 10px solid white;
    background-image: linear-gradient(pink, gold), url("/img/logo.svg");
    background-blend-mode: overlay;
    background-position: center;
    background-size: contain;
    z-index: 100;
    margin-top: 10px;
}

