{{ partial "header.html" . }}

<div class="roster-main">

    <div class="roster-menu">
        <h1>Roster</h1>
        <div class="roster-filter">
            <a href="#"><div class="icon"><i class="fas fa-broadcast-tower"></i></div></a>
            <a href="#"><div class="icon"><i class="fas fa-compact-disc"></i></div></a>
            <a href="#"><div class="icon"><i class="fas fa-sliders-h"></i></div></a>
        </div>
    </div>

    <div class="roster-grid">

        {{ range .Site.Data.roster.members }}

        {{ partial "roster.html" . }}

        {{ end }}
        
    </div>

</div>

{{ partial "footer.html" . }}