{{ partial "head.html" . }}
{{ partial "navigation.html" . }}

<div class="contact">
    <h1>Get in Touch</h1>
    <p>For bookings, questions, comments, and everything in between. </p>

    <form action="https://formspree.io/me@jessicaelle.com"
      method="POST">
        <input type="text" name="name">
        <input type="email" name="_replyto">
        <input type="hidden" name="_next" value="https://www.spinstersunion.com" />
        <input type="submit" value="Send">
    </form>

</div>

{{ partial "footer.html" . }}